.Burger {
  width: 100%;
  margin: 0 auto 32px;
  // height: 250px;
  height: 100vh;

  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 250px;
  @media screen and (min-width: 500px) {
    width: 700px;
  }
}
